
h1, h3 {
	text-align: center;
	font-family: Garamond, Century, Times;
}
body {
	font-family: Garamond, Century, Times;
	width: 68%;
	margin: 50px auto;
	text-align: left;
	font-size: 2em;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

div {
	padding-bottom: 20px;
}