html {
	background: url(pawprints.jpg) center;
	background-repeat: repeat-y;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 100%;
	height: 100%;
}

h1, h3 {
	text-align: center;
	font-family: Garamond, Century, Times;
}
body {
	font-family: Garamond, Century, Times;
	width: 68%;
	margin: 50px auto;
	text-align: left;
	font-size: 2em;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

div {
	padding-bottom: 20px;
}